# Dependencies
node_modules/

# React Native
.metro-health-check*

# iOS
ios/Pods/
ios/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/app/build/
android/.gradle/
.gradle/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
