# Dependencies
node_modules/

# Expo
.expo/
dist/

# React Native
.metro-health-check*

# iOS
ios/

# Android
android/
.gradle/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
